@model CentralNews.Models.Noticia

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Noticia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="titulo" class="control-label">Título:</label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label">Descripcion:</label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="autor" class="control-label">Autor:</label>
                <input asp-for="autor" class="form-control" />
                <span asp-validation-for="autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha" class="control-label">Fecha:</label>
                <input asp-for="fecha" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fuente" class="control-label">Fuente:</label>
                <input asp-for="fuente" class="form-control" />
                <span asp-validation-for="fuente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_categoria" class="control-label">Categoria:</label>
                <select asp-for="id_categoria" class="form-control" asp-items="Html.GetEnumSelectList<TipoCategoria>()">
                    <option selected="selected" value="">Selecciona una opcion...</option>
                </select>
                <span asp-validation-for="id_categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
